JSON
{
  "name": "Automação com Gemini + Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9e372872-8dbe-4ff1-ae9f-2266e5e70769",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://g1.globo.com/rss/g1/economia/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        -112
      ],
      "id": "3320501a-5cc5-4a7b-83e8-ca75cc7315b3",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://g1.globo.com/rss/g1/carros/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        160
      ],
      "id": "140b7998-e23b-46c0-97fc-93d7126a01b7",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        464,
        160
      ],
      "id": "266378a1-7807-4fd6-9da5-220e69ef7d90",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        464,
        -112
      ],
      "id": "5ce52aa1-f683-4c37-842a-9a4002331d4b",
      "name": "Limit1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "title, content, link",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        960,
        16
      ],
      "id": "4080734d-33fa-4bc8-a928-eb89b9a824bb",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        16
      ],
      "id": "a1502422-432e-4469-81be-a7269796141e",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Posts",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1168,
        16
      ],
      "id": "59036748-fa99-4819-a6d0-2e2ffd31880b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=models/gemini-2.5-flash",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um editor de notícias de economia e tecnologia especializado em tecnologia e economista da bolsa de valores. Sua tarefa é analisar o conjunto de notícias a seguir, extrair apenas os pontos mais relevantes e criar um resumo diário.\n\nInstruções de Saída:\n\nFormato: A saída deve ser uma única mensagem formatada com títulos em Markdown (negrito e emojis) para fácil leitura.\n\nConteúdo: Selecione no máximo 3 notícias mais importantes e relevantes para desenvolvedores e economistas.\n\nEstrutura: Divida a mensagem em três seções: Título, Tech e Economia.\n\nResumo: Para cada notícia selecionada, crie um resumo conciso de no máximo 50 palavras.\n\nLinks: O Título de cada resumo deve ser o link original da notícia (se possível, use a sintaxe Markdown para links:\n[Título Original] (URL do Artigo)). Deixe o Título Original em negrito e tire os colchetes aonde fica título original.\n\nEstrutura de Saída Desejada:\n\nMarkdown\n\n🤖 Resumo Diário de Notícias Tech e da Bolsa de Valores 🚀\nData atual {{ $now.format('dd/MM/yy') }}\n\n\n\n🧠 Notícias Tech:\n\n1️⃣ [Título do Artigo 1]\n Breve resumo (máx. 50 palavras) sobre o avanço, modelo ou pesquisa.\n(URL do Artigo 1)\n\n2️⃣ [Título do Artigo 2]\n Breve resumo (máx. 50 palavras) sobre novas ferramentas, avanço, modelo, pesquisa ou implicações éticas.\n(URL do Artigo 2)\n\n\n\n💻 Bolsa de Valores e Economia:\n\n1️⃣ [Título do Artigo 1]\nBreve resumo (máx. 50 palavras) sobre novo recurso, informações, altas e baixas do mercado internacional ou release importante (ex: bitcoin, real, dólar).\n(URL do Artigo 3)\n\n\n\n🔥 Dica Rápida: Uma frase motivacional ou um breve lembrete sobre a importância de revisar a documentação.\nDados de Entrada (Artigos RSS):\n\n(Insira aqui os dados dos artigos coletados pelo nó RSS Read, após o pré-processamento, geralmente em formato JSON ou texto simples.)\n\nJSON\n\n[\n  {\n    \"title\": \"Título do Artigo 1\",\n    \"url\": \"https://...\",\n    \"content\": \"Conteúdo completo do artigo 1...\"\n  },\n  {\n    \"title\": \"Título do Artigo 2\",\n    \"url\": \"https://...\",\n    \"content\": \"Conteúdo completo do artigo 2...\"\n  },\n  // ... mais artigos\n]\nEste prompt garante que a LLM:\n\nMantenha o Foco: Limita o resultado a apenas Tech e Economia.\n\nSeja Concisa: Impede que a LLM crie resumos longos demais (limite de 50 palavras).\n\nFormate Corretamente: Entrega a saída pronta para o Markdown do Gmail.\n\nConjunto de noticias:\n{{ $json.Posts.toJsonString() }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1360,
        16
      ],
      "id": "f90cabe1-74c0-4abb-bf1b-0ef802072274",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "ghNWylOUSqfDJNYM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "bellinha292@gmail.com",
        "subject": "=🤖 Resumo Diário de Notícias Tech e da Bolsa de Valores - {{ $now.format('dd/MM/yy') }} 🚀\n\n",
        "emailType": "text",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1920,
        16
      ],
      "id": "44d71e0c-19fd-438d-af05-a9d5a2f02f5a",
      "name": "Send a message",
      "webhookId": "d68909b3-31f8-445e-ac8d-a3a2de11f92b",
      "credentials": {
        "gmailOAuth2": {
          "id": "ypq2Q88CBOXcAYCD",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "190aeb2a-6071-47c7-be24-a031c8ea2d9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "434d9aabc72f64e50fc9eea35f25342db0c0f072c33b081adfb5afb91c5eac87"
  },
  "id": "rEueAaLd5F1cZeIo",
  "tags": []
}
